body {
    background: linear-gradient(135deg, #000000, #000000);
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    height: 1000px;
    margin: 0; /* Remove default margin */
}

.navigation {
    width: auto;;
    display: flex;
}

#profile_img {
    width: 25%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 60%;
    border-radius: 10px;
    z-index: 1;
}

.navigation_contents li {
    list-style-type: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    float: left;
    border: 2px solid green;
}

.navigation_contents li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 2px solid red;
    padding: 10px;

}

.navigation_contents li a:hover {
    color: aqua;
}

.navigation_contents {
    position: absolute;
    border: 2px solid blue;
    right:2%;
}

.Hello {
    color: white;
    position: absolute;
    right: 50%;
    top: 40%;
    border: 2px solid brown;
    padding: 10px;
    height: 150px;
    width: 400px;
}
.Hello h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    position: absolute;
    border: 2px solid green;
}
.Hello p{
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 55%;
    border: 2px solid fuchsia;
}
/* .Hello p::backdrop {
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
} */
.Hello p{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 90%;
    height: 20%;
    background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);
    background-size: 200% 100%;
    animation: typing 3s steps(40) forwards;
}
@keyframes typing {
    120% {
        color: white
    }
    to {
        background-position: -205% 0;
        color: white;
}
}


