body {
    background: #000000;
    color: #ffffff;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navigation {
    width: fit-content;
    display: flex;
}

#profile_img {
    width: 400px;
    height: auto;
    position: relative;
    top: 100px;
    left: 500px;
    border-radius: 10px;
}

.navigation_contents li {
    list-style-type: none;
    color: white;
    padding: 10px 10px;
    float: left;
}

.navigation_contents li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navigation_contents li a:hover {
    color: aqua;
}

.navigation_contents {
    position: relative;
    left: 135%;
}

.Hello {
    color: white;
    position: absolute;
    left: 20%;
    top: 40%;
}
.Hello h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.Hello p{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}
