body{
    background: #000000;
    color: #000000;
}
.navigation{
    width: fit-content;
}
#profile_img{
    width: 400px;
    height: auto;
    position: relative;
    top: 100px;
    left: 700px;
}
.navigation_contents li{
    list-style-type: none;
    color: white;
    padding: 10px 10px;
    float: left;
}
.navigation_contents li a{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.navigation_contents li a:hover{
    color: aqua;
}
.navigation_contents{
    position: relative;
    left: 220%;
}
#About_Me{
    color: white;
    position: relative;
    top: -320px;
}